extends layout

block scripts
	script(type='text/javascript', src="/javascripts/fileDropper.js")

block content
	#dropArea
		h1 Food Parser

		table.table.table-hover.center
			tr
				th Quantity
				th Product Name
			tbody
				each productQuantity, productName in productInfo
					tr
						td #{productQuantity}
						td #{productName}